body {
  height: 100vh;
  animation: bgchange 8s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color:#d40a0a;
  font-size: 40px;
}

@keyframes bgchange {
  0% {
    background-color: #FBD6D7;
  }

  20% {
    background-color: #7b63f2;
  }

  40% {
    background-color: #d8b5f8;
  }

  60% {
    background-color: #d84dae;
  }

  80% {
    background-color: #f490e7;
  }

  100% {
    background-color: #f9c1f9;
  }
}
